include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include head-line/head-line
include header/header
include title/title
include intro/intro
include stat-products/stat-products
include products/products

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Workshop",
				"author": "Space Academy",
				"description": "Workshop"
			})
			
		+b.BODY.page
			+e.DIV.wrap
				block header
					+head-line()
					+header([
						{
							"text": "Главная",
							"href": "index.html",
							"activ": true
						},
                        {
                            "text": "Услуги",
                            "href": "products.html"
                        },
                        {
                            "text": "О нас",
                            "href": "aboutus.html"
                        },
                        {
                            "text": "Контакты",
                            "href": "contacts.html"
                        }
					])
			block content
				div content

			block footer
				footer footer
				
			block vendors
				// build:js js/vendor.js
				//script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				//script( src="js/main.js")
				// endbuild
